.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 380px; /* Limita no nosso 'celular' */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-content h2 {
  margin-top: 0;
  color: #16558C;
}

.modal-content p {
  font-size: 14px;
  color: #333;
}

.modal-content button {
  width: 100%;
  height: 50px;
  background-color: #22d3ee; /* Cor ciano */
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  margin-top: 20px;
}